PORT=
APP_NAME=
APP_ENV=


# PostgreSQL
DB_DSN=host= user= password= dbname= port=5432 sslmode=disable

# Redis
REDIS_URL=redis://localhost:6379

# WORKER_COUNT=3

EDGE_DRIVER_PATH=
EDGE_DRIVER_PORT=9515